body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  text-align: center;
  font-weight: bold;
}

.github-profile {
  margin: 1rem;
  /* display: inline-block; */
}

.info{
  display: inline-block;
  margin-left: 12px;
}

img{
  margin-left: 10px;
  width: 75px;
  border-style: dotted;

}

.name{
  font-weight: bold;
  font-size: 1.25rem;
}

form{
  padding: 10px;
  background-color: grey;
  margin: 20px;
}